.image {
    max-width: 100%;
}

.offer-block {
	padding-top: 270px;
	padding-bottom: 140px;
}

.row-full {
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
}

.shape {
	&-rad {
		&-1 {
			border-radius: 1rem!important;
		}
		&-2 {
			border-radius: 2rem!important;
		}
		&-3 {
			border-radius: 3rem!important;
		}
	}
}

.aspect {
	&-container {
		position: relative;
		overflow: hidden;
		&-4-3 {
			padding-top: 100%; // 4:3
		}

		&-16-9 {
			padding-top: 56.25%; // 16:9
		}
	}

	&-item {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%!important;
		height: 100%!important;
	}
}